In [1]:
import bs4 
import re 
import os 
import json
import requests
import datetime
import urllib
from dateutil import parser
from tqdm.notebook import tqdm
import pandas as pd
pd.set_option('max_colwidth', 300)
pd.set_option('max_columns', 100)

## Fun Fact.. Dealnews uses an API

In [2]:
headers = {'Authorization': 'DN jxqfz29pbv9xpWSYnmJX'}

In [3]:
dealnews = requests.get('https://api.dealnews.com/content?facet_ids=1780&count=70'
                        , headers=headers)
dealnews.status_code

200

In [4]:
txt = json.loads(dealnews.content)
len(str(txt))

672363

In [5]:
txt.keys()

dict_keys(['additional_content_ids', 'brands', 'categories', 'content', 'deal_types', 'facet_groups', 'not_returned_content_ids', 'overflow_content_ids', 'returned_content_ids', 'vendors'])

In [6]:
iter1 = iter(txt)

In [7]:
temp = next(iter1)
print(f"\nName: {temp}")
txt[temp]

Name: additional_content_ids

[19293431,
 19312970,
 19313558,
 19308797,
 19271885,
 19313042,
 19298762,
 19308716,
 19313540,
 19300007,
 19308632,
 19293662,
 19308134,
 19308491,
 19312700,
 19308713,
 19308863,
 19312907,
 19312808,
 19291613,
 19308794,
 19312691,
 19308671,
 19308272,
 19312634,
 19265126,
 19308710,
 19313165,
 19313594,
 19293149,
 19308761,
 19312856,
 19308728,
 19312727,
 19313357,
 19308125,
 19308332,
 19309607,
 19308215,
 19255853,
 19313180,
 19308425,
 19313264,
 19313453,
 19308686,
 19308677,
 19313195,
 19313570,
 19308614,
 19305284,
 19296014,
 19309958,
 19308548,
 19312838,
 19308521,
 19313294,
 19272437,
 19308815,
 19313381,
 19295948,
 19313513,
 19312883,
 19308896,
 19313564,
 19296041,
 19254056,
 19296443,
 19299164,
 19304930,
 19299983,
 19282073,
 19269032,
 19294148,
 19299794,
 19240226,
 19305203,
 19293224,
 19307222,
 19307243,
 19293935,
 19244552,
 19306772,
 19307723,
 19299773,
 19306667,
 19304915,
 19307612,
 19307867,
 19307702,
 19252334,
 19307681,
 19134035,
 19305092,
 19305902,
 19306874,
 19307873,
 19306808,
 19307417,
 19306886,
 19305722,
 19305200,
 19307912,
 19307582,
 19307390,
 19307492,
 19307474,
 19307816,
 19305221,
 19296095,
 19307450,
 19307660,
 19307483,
 19307855,
 19306661,
 19307405,
 19305254,
 19304267,
 19305704,
 19307729,
 19253591,
 19307849,
 19281962,
 19293602,
 19305806,
 19307609,
 19305707,
 19306913,
 19306664,
 19306655,
 19272962,
 19293599,
 19307726,
 19307933,
 19252229,
 19307156,
 19307960,
 19307225,
 19307744,
 19306004,
 19248164,
 19307480,
 19306721,
 19307777,
 19305593,
 19248134,
 19306649,
 19305854,
 19298654,
 19307384,
 19243328,
 19305785,
 19305566,
 19307258,
 19293233,
 19305803,
 19305638,
 19305698,
 19305635,
 19307708,
 19248527,
 19307813,
 19305719,
 19305740,
 19307900,
 19305647,
 19305653,
 19307798,
 19306937,
 19307690,
 19243943,
 19298309,
 19305773,
 19230008,
 19307891,
 19305755,
 19307765,
 19305452,
 19249571,
 19307837,
 19188539,
 19307408,
 19305725,
 19307699,
 19307273,
 19307876,
 19304702,
 19254944,
 19293284,
 19308281,
 19299149,
 19290950,
 19308353,
 19275323,
 19290224,
 19290794,
 19294097,
 19279361,
 19303094,
 19247216,
 19281569,
 19298741,
 19296173,
 19306880,
 19307822,
 19305056,
 19302665,
 19305542,
 19305401,
 19305356,
 19305278,
 19305257,
 19305197,
 19305155,
 19305167,
 19305134,
 19305038,
 19305425,
 19305509,
 19305482,
 19305035,
 19282169,
 19305086,
 19291121,
 19305047,
 19305029,
 19305020,
 19304978,
 19304969,
 19304948,
 19304960,
 19307297,
 19265468,
 19219886,
 19304636,
 19304954,
 19304936,
 19304927,
 19304888,
 19304879,
 19304891,
 19304843,
 19299863,
 19304825,
 19304828,
 19304786,
 19304780,
 19304741,
 19304759,
 19304768,
 19304696,
 19304681,
 19304684,
 19304612,
 19304525,
 19304606,
 19304561,
 19304498,
 19304456,
 19304471,
 19304399,
 19304408,
 19304294,
 19304711,
 19304666,
 19300310,
 19300187,
 19299614,
 19300073,
 19299971,
 19299914,
 19299263,
 19270271,
 19299155,
 19298969,
 19298408,
 19298225,
 19297604,
 19296827,
 19187390,
 19295480,
 19244834,
 19295258,
 19304144,
 18748369,
 18972721,
 19303526,
 19304279,
 19304255,
 19304186,
 19303586,
 19250912,
 19303505,
 19294598,
 19282763,
 19294202,
 19241225,
 19293587,
 19293536,
 19293317,
 19292654,
 19303454,
 19250240,
 19250195,
 19250183,
 19303235,
 19255661,
 19296617,
 19291391,
 19290926,
 19290890,
 19290473,
 19245377,
 19290428,
 19290176,
 19302974,
 19302950,
 19284842,
 19283444,
 19283378,
 19283393,
 19171892,
 19302953,
 19273310,
 19251161,
 19282823,
 19282613,
 19282220,
 19279592,
 19159595,
 19175360,
 19275995,
 19274588,
 19273850,
 19302635,
 19273121,
 19270346,
 19270055,
 19267418,
 19301555,
 19255106,
 19301858,
 19301819,
 19301765,
 19301759,
 19301726,
 19301675,
 19301645,
 19301642,
 19301453,
 19301405,
 19301327,
 19241546,
 19299590,
 19252793,
 19252772,
 19252760,
 19252529,
 19300418,
 19252280,
 19300367,
 19252259,
 19252235,
 19252223,
 19252199,
 19300262,
 19252019,
 19300229,
 19300211,
 19250798,
 19251977,
 19300121,
 19299833,
 19299848,
 19299806,
 19300136,
 19251659,
 19300082,
 19251629,
 19300079,
 19300076,
 19251554,
 19300019,
 19299830,
 19251515,
 19251500,
 19300001,
 19251452,
 19299968,
 19251368,
 19251365,
 19251350,
 19251278,
 19299635,
 19299602,
 19251230,
 19251206,
 19299896,
 19167575,
 19251143,
 19251047,
 19251035,
 19251053,
 19250039,
 19251011,
 19298648,
 19250852,
 19250846,
 19250837,
 19299740,
 19250042,
 19249817,
 19250075,
 19186889,
 19299791,
 19299287,
 19299758,
 19299731,
 19299734,
 19298924,
 19250690,
 19250681,
 19299725,
 19299728,
 19298900,
 19298894,
 19299716,
 19298897,
 19299656,
 19250657,
 19298828,
 19299704,
 19298891,
 19299719,
 19299665,
 19299695,
 19298345,
 19299611,
 19298885,
 19298711,
 19298672,
 19298708,
 19299653,
 19298906,
 19298729,
 19298723,
 19298432,
 19298633,
 19298651,
 19298537,
 19298519,
 19298564,
 19298525,
 19299587,
 19298765,
 19298669,
 19299539,
 19299542,
 19298291,
 19299266,
 19298270,
 19299422,
 19299452,
 19299278,
 19299248,
 19299212,
 19299200,
 19299197,
 19299206,
 19299203,
 19250387,
 19250375,
 19299194,
 19250330,
 19299170,
 19250312,
 19250318,
 19250303,
 19250297,
 19299134,
 19250285,
 19299131,
 19250264,
 19299104,
 19250234,
 19299122,
 19299095,
 19299110,
 19299098,
 19299107,
 19299059,
 19296851,
 19299074,
 19299092,
 19299068,
 19299053,
 19299008,
 19297514,
 19249994,
 19299026,
 19249931,
 19249955,
 19299011,
 19298999,
 19298975,
 19299002,
 19296986,
 19296932,
 19296902,
 19298480,
 19298504,
 19298474,
 19296812,
 19297361,
 19298996,
 19249778,
 19249754,
 19249760,
 19249745,
 19249667,
 19296140,
 19249685,
 19247876,
 19249565,
 19298756,
 19297415,
 19297433,
 19297376,
 19297367,
 19297343,
 19297271,
 19297280,
 19297277,
 19297253,
 19297121,
 19297130,
 19297112,
 19297082,
 19296935,
 19296965,
 19296944,
 19296836,
 19296821,
 19296818,
 19296809,
 19248248,
 19296758,
 19296728,
 19296752,
 19296620,
 19248218,
 19247732,
 19248212,
 19248125,
 19296572,
 19296548,
 19231487,
 19296536,
 19296479,
 19296482,
 19248119,
 19248068,
 19248080,
 19297085,
 19247909,
 19295774,
 19247891,
 19297181,
 19247840,
 19296683,
 19247759,
 19247756,
 19247354,
 19247699,
 19278278,
 19296437,
 19296266,
 19075301,
 19247390,
 19296395,
 19247369,
 19296404,
 19247312,
 19296389,
 19296311,
 19296344,
 19247240,
 19296302,
 19247258,
 19296245,
 19296194,
 19296203,
 19247219,
 19247213,
 18720856,
 19296188,
 19296149,
 19296146,
 19296128,
 19296125,
 19296020,
 19296101,
 19296092,
 19295981,
 19241267,
 19246493,
 19171214,
 19296065,
 19296071,
 19296038,
 19296008,
 19295993,
 19295945,
 19296017,
 19295888,
 19295714,
 19295861,
 19246790,
 19246841,
 19246817,
 19295801,
 19246748,
 19295780,
 19295789,
 19295777,
 19246646,
 19246643,
 19295702,
 19295651,
 19246556,
 19246538,
 19246487,
 19246496,
 19246463,
 19246418,
 19294307,
 19246397,
 19246349,
 19246193,
 19246187,
 19246034,
 19201400,
 19245689,
 19245677,
 19295648,
 19161152,
 19295672,
 19295573,
 19295588,
 19295615,
 19295576,
 19295582,
 19295498,
 19294091,
 19294373,
 19245395,
 19294355,
 19294229,
 19245554,
 19293833,
 19294025,
 19245503,
 19245506,
 19245497,
 19294367,
 19245473,
 19245470,
 19245461,
 19266752,
 19245182,
 19245191,
 19294910,
 19294838,
 19294892,
 19294883,
 19293845,
 19294853,
 19294436,
 19294538,
 19294514,
 19294484,
 19294430,
 19294310,
 19294427,
 19294406,
 19294415,
 19294301,
 19294313,
 19294247,
 19294100,
 19294088,
 19294169,
 19294094,
 19294109,
 19294061,
 19294052,
 19294055,
 19293347,
 19293800,
 19245347,
 19293788,
 19293689,
 19293707,
 19245236,
 19245209,
 19293494,
 19245095,
 19245140,
 19245086,
 19293908,
 19244846,
 19244804,
 19293620,
 19293266,
 19293278,
 19293446,
 19293539,
 19293617,
 19293647,
 19293482,
 19293329,
 19293443,
 19293335,
 19293275,
 19293128,
 19293626,
 19293545,
 19293515,
 19293485,
 19293500,
 19293488,
 19293419,
 19293413,
 19293368,
 19239929,
 19241924,
 19241417,
 19240841,
 19245026,
 19245002,
 19244999,
 19244852,
 19244825,
 19244735,
 19244708,
 19244624,
 19244612,
 19244600,
 19244573,
 19291934,
 19291703,
 19292969,
 19292888,
 19292936,
 19292951,
 19292786,
 19292765,
 19244480,
 19292747,
 19292768,
 19292714,
 19292651,
 19292783,
 19244468,
 19292465,
 19244465,
 19244405,
 19244402,
 19244378,
 19244360,
 19244312,
 19244276,
 19244228,
 19291838,
 19291862,
 19291775,
 19291721,
 19244129,
 19291655,
 19244078,
 19244066,
 19244027,
 19243997,
 19201334,
 19243892,
 19292999,
 19243652,
 19243607,
 19243598,
 19243580,
 19243526,
 19292882,
 19243517,
 19243520,
 19291673,
 19291640,
 19292957,
 19291601,
 19291574,
 19291544,
 19291454,
 19291418,
 19291379,
 19243373,
 19243370,
 19243367,
 19291250,
 19291244,
 19291199,
 19291352,
 19243307,
 19290977,
 19290962,
 19291238,
 19290920,
 19291163,
 19291130,
 19290884,
 19291124,
 19243208,
 19243211,
 19291202,
 19291106,
 19243124,
 19243115,
 19290989,
 19243100,
 19290935,
 19243031,
 19243013,
 19242986,
 19242998,
 19290689,
 19291235,
 19242923,
 19242944,
 19289969,
 19290755,
 19242377,
 19242845,
 19242803,
 19242572,
 19242560,
 19241597,
 19242485,
 19242407,
 19242416,
 19242287,
 19241099,
 19242149,
 19242128,
 19290800,
 19242056,
 19290749,
 19290674,
 19290704,
 19230578,
 19230257,
 19230263,
 19290638,
 19290614,
 19290626,
 19240556,
 19290572,
 19290551,
 19290593,
 19290539,
 19290548,
 19290527,
 19249751,
 19290437,
 19290314,
 19290740,
 19290335,
 19290710,
 19290293,
 19290299,
 19290617,
 19290284,
 19290542,
 19290095,
 19290332,
 19290278,
 19290233,
 19290167,
 19290149,
 19290122,
 19290116,
 19290485,
 19290275,
 19241837,
 19289921,
 19241501,
 19241474,
 19241483,
 19241333,
 19241318,
 19241156,
 19241147,
 19241051,
 19167029,
 19240628,
 19240601,
 19240529,
 19240427,
 19240364,
 19240328,
 19240559,
 19240505,
 19240457,
 19240451,
 19240325,
 19240316,
 19240268,
 19240202,
 19240184,
 19240043,
 19239989,
 19239950,
 19239899,
 19239881,
 19239863,
 19239854,
 19239848,
 19239809,
 19239734,
 19238333,
 19235759,
 19226504,
 19178882,
 19282190,
 19289855,
 19287305,
 19180469,
 19283957,
 19282505,
 19282430,
 19282349,
 19282373,
 19282301,
 19282184,
 19282232,
 19288070,
 19286546,
 19286657,
 19284875,
 19283657,
 19283441,
 19282790,
 19282871,
 19282850,
 19282817,
 19282793,
 19282754,
 19282709,
 19281308]

## Understanding API Options

In [8]:
## Deal Types
keeper_elems = ['name', 'count', 'deal_type_id', 'short_name']
groups = txt['deal_types']
key_group_info = []
for group in groups:
    key_group_info.append([group[x] for x in keeper_elems])
deal_types_df = pd.DataFrame(key_group_info, columns = keeper_elems)
deal_types_df['id_name'] = 'deal_type_id'
deal_types_df

                   name  count  deal_type_id         short_name       id_name
0     Product Discounts   1368             1  Product Discounts  deal_type_id
1           Promo Codes     29             2        Promo Codes  deal_type_id
2  Store Sales & Events    609             3        Store Sales  deal_type_id

In [9]:
## Categories
keeper_elems = ['name', 'count', 'category_id', 'short_name']
groups = txt['categories']
key_group_info = []
for group in groups:
    key_group_info.append([group[x] for x in keeper_elems])
category_df = pd.DataFrame(key_group_info, columns = keeper_elems)
category_df['id_name'] = 'category_id'
category_df

,name,count,category_id,short_name,id_name
0,Home & Garden,746,196,Home & Garden,category_id
1,Clothing & Accessories,503,202,Clothing & Accessories,category_id
2,Electronics,187,142,Electronics,category_id
3,Computers,153,39,Computers,category_id
4,Store Events,119,40,Store Events,category_id
5,Gaming & Toys,104,186,Gaming & Toys,category_id
6,Sports & Fitness,103,211,Sports & Fitness,category_id
7,Health & Beauty,88,756,Health & Beauty,category_id
8,Automotive,49,238,Automotive,category_id
9,Office Supplies,37,182,Office Supplies,category_id
10,"Movies, Music, Books",35,178,"Movies, Music, Books",category_id
11,Travel & Entertainment,25,206,Travel & Entertainment,category_id
12,Gift Cards,8,859,Gift Cards,category_id
13,Special Occasion,5,636,Special Occasion,category_id
14,Cell Phones,2,174,Cell Phones,category_id
15,Car Rentals,2,209,Car Rentals,category_id
16,Computer Services,2,440,Computer Services,category_id
17,Apple iPhones,2,491,Apple iPhones,category_id
18,Security Cameras,2,831,Security Cameras,category_id
19,Home Improvement,2,862,Home Improvement,category_id
20,Software,1,124,Software,category_id
21,Toys & Hobbies,1,226,Toys & Hobbies,category_id
22,Bed & Bath,1,360,Bed & Bath,category_id
23,Cell Phone Accessories,1,467,Cell Phone Accessories,category_id
24,Activewear,1,487,Activewear,category_id
25,Air Conditioners,1,607,Air Conditioners,category_id
26,Patio Furniture,1,744,Patio Furniture,category_id
27,Health,1,765,Health,category_id
28,Portable Speakers,1,837,Portable Speakers,category_id
29,Drills,1,934,Drills,category_id

In [10]:
## Brands
keeper_elems = ['name', 'count', 'brand_id', 'short_name']
groups = txt['brands']
key_group_info = []
for group in groups:
    key_group_info.append([group[x] for x in keeper_elems])
brand_df = pd.DataFrame(key_group_info, columns = keeper_elems)
brand_df['id_name'] = 'brand_id'
brand_df

                       name  count  brand_id              short_name   id_name
0                     Apple     23        13                   Apple  brand_id
1                      Nike     21       828                    Nike  brand_id
2                        HP     19        17                      HP  brand_id
3                    DeWalt     18       313                  DeWalt  brand_id
4                      Dell     15        14                    Dell  brand_id
..                      ...    ...       ...                     ...       ...
474                 Robotis      1     65894                 Robotis  brand_id
475  Thomas Kinkade Studios      1     65897  Thomas Kinkade Studios  brand_id
476                     JBJ      1     65924                     JBJ  brand_id
477           Best Massage       1     65936           Best Massage   brand_id
478             Fluidmaster      1     65948             Fluidmaster  brand_id

[479 rows x 5 columns]

In [11]:
## Vendors
keeper_elems = ['name', 'count', 'vendor_id', 'short_name']
groups = txt['vendors']
key_group_info = []
for group in groups:
    key_group_info.append([group[x] for x in keeper_elems])
vendor_df = pd.DataFrame(key_group_info, columns = keeper_elems)
vendor_df['id_name'] = 'vendor_id'
vendor_df

                     name  count  vendor_id            short_name    id_name
0                  Amazon    706        313                Amazon  vendor_id
1                    eBay    145         50                  eBay  vendor_id
2              Home Depot     63        958            Home Depot  vendor_id
3                  Macy's     39        288                Macy's  vendor_id
4              Sam's Club     32        857            Sam's Club  vendor_id
..                    ...    ...        ...                   ...        ...
351               AT&T TV      1      49780               AT&T TV  vendor_id
352             MQ Direct      1      50263             MQ Direct  vendor_id
353  SunPower Corporation      1      54593  SunPower Corporation  vendor_id
354              FIRM ABS      1      54977              FIRM ABS  vendor_id
355             Eaglemoss      1      55127             Eaglemoss  vendor_id

[356 rows x 5 columns]

In [12]:
## Facet Groups 
keeper_elems = ['name', 'count', 'facet_id', 'short_name']
facet_group = txt['facet_groups']
key_group_info = []
for facet in facet_group:
    groups = facet['facets']
    for group in groups:
        key_group_info.append([group[x] for x in keeper_elems])
facet_df = pd.DataFrame(key_group_info, columns = keeper_elems)
facet_df['id_name'] = 'facet_id'
facet_df

,name,count,facet_id,short_name,id_name
0,Popularity: 5/5,112,1774,Popularity: 5/5,facet_id
1,Popularity: 4/5,548,1777,Popularity: 4/5,facet_id
2,Popularity: 3/5,2006,1780,Popularity: 3/5,facet_id
3,Popularity: 2/5,1203,1783,Popularity: 2/5,facet_id
4,Popularity: 1/5,4430,1786,Popularity: 1/5,facet_id
5,Staff Pick,110,1682,Staff Pick,facet_id
6,Freebies,23,1742,Freebies,facet_id
7,Top Tech,114,1748,Top Tech,facet_id
8,Under $25,250,1751,Under $25,facet_id
9,Exclusive Offers,46,1792,Exclusive Offers,facet_id
10,Mac,119,1795,Mac,facet_id
11,Kids Activities,3,1861,Kids Activities,facet_id
12,Special Discounts,43,1873,Special Discounts,facet_id
13,Smart Home,15,1912,Smart Home,facet_id
14,Refurbished,27,9,Refurbished,facet_id
15,Used,11,10,Used,facet_id
16,Open-Box,15,1906,Open-Box,facet_id
17,New (<4 Hrs),17,1688,New (<4 Hrs),facet_id
18,Ends Today,39,1691,Ends Today,facet_id
19,Recent (<24 Hours),91,1789,Recent (<24 Hours),facet_id
20,You Might Have Missed,149,1834,You Might Have Missed,facet_id
21,Labor Day,1,1685,Labor Day,facet_id
22,Amazon Prime Day,7,1703,Amazon Prime Day,facet_id
23,Back to School,69,1706,Back to School,facet_id
24,Father's Day,27,1712,Father's Day,facet_id
25,Graduation,13,1715,Graduation,facet_id
26,Memorial Day,15,1724,Memorial Day,facet_id
27,Mother's Day,7,1727,Mother's Day,facet_id
28,The Big Game,4,1837,The Big Game,facet_id
29,Spring Travel,2,1840,Spring Travel,facet_id
30,Outdoor Living,37,1846,Outdoor Living,facet_id
31,Earth Day,6,1852,Earth Day,facet_id
32,Social Distancing Survival Kit,93,1864,Social Distancing Survival Kit,facet_id
33,Frugal Fashion Week,76,1888,Frugal Fashion Week,facet_id

### Grouping Options together

In [13]:
df_type = {"deal_type" : deal_types_df,
"vendor" : vendor_df,
"facet_group" : facet_df,
"brand" : brand_df,
"category" : category_df}


df_type = {k : v.rename(columns = lambda x: 'id' 
                        if re.search(re.compile('_id$'), x) != None 
                        else x)
           for k, v in df_type.items()}

all_dfs = pd.concat(df_type)
all_dfs.head()

                             name  count   id         short_name       id_name
deal_type 0     Product Discounts   1368    1  Product Discounts  deal_type_id
          1           Promo Codes     29    2        Promo Codes  deal_type_id
          2  Store Sales & Events    609    3        Store Sales  deal_type_id
vendor    0                Amazon    706  313             Amazon     vendor_id
          1                  eBay    145   50               eBay     vendor_id

In [15]:
all_dfs.shape

(902, 5)

In [16]:
def get_summary1(df):
    out = {}
    out['Offers Sum'] = df['count'].sum()
    out['Group Count'] = df.shape[0]
    df = df.sort_values(by='count', ascending=False)
    most_common = df.iloc[0]
    out['Most Common Name'] = most_common['name']
    out['Most Common Count'] = most_common['count']
    out['Most Common ID'] = most_common['id']
    
    out_series = pd.Series(out)
    return(out_series)

In [17]:
summary1 = all_dfs.reset_index().groupby('level_0')\
    .apply(get_summary1)
summary1

,Offers Sum,Group Count,Most Common Name,Most Common Count,Most Common ID
level_0,,,,,
brand,999,479,Apple,23,13
category,2184,30,Home & Garden,746,196
deal_type,2006,3,Product Discounts,1368,1
facet_group,9728,34,Popularity: 1/5,4430,1786
vendor,2002,356,Amazon,706,313

In [18]:
facet_groups = [x['name'] for x in txt['facet_groups']]
facet_groups

['Popularity Rank', 'Collection', 'Condition', 'Offer Status', 'Events']

In [20]:
content1 = txt['content'][0]
list(content1.keys())

['type',
 'id',
 'headline',
 'brief_headline',
 'summary',
 'secondary_summary',
 'teaser',
 'body',
 'key_attribute',
 'brief_notes',
 'coupon_code',
 'url',
 'offsite_url',
 'show_code_url',
 'images',
 'display_date',
 'publish_datetime_ts',
 'update_datetime_ts',
 'expiration_datetime_ts',
 'last_verified_datetime_ts',
 'editors_choice',
 'sponsored',
 'flat_fee',
 'expired',
 'expires_today',
 'exclusive',
 'searchable',
 'hotness',
 'call_out',
 'call_out_comparison',
 'sub_call_out',
 'comment_count',
 'comments_url',
 'shareable',
 'category',
 'categories',
 'vendor',
 'sponsored_vendor',
 'product',
 'author',
 'facet_groups',
 'media_call_out',
 'views',
 'available_start_datetime_ts',
 'available_end_datetime_ts',
 'timestamp',
 'additional_information',
 'summary_required',
 'features',
 'deal_type',
 'value_statement']

## Parse One API Section Request

In [21]:

def parse_easy_elems(content):
    content_keys_to_keep = [
         'id',
         'headline',
         'brief_headline',
         'summary',
         'secondary_summary',
         'key_attribute',
         'brief_notes',
         'url',
         'display_date',
         'publish_datetime_ts',
         'update_datetime_ts',
         'expiration_datetime_ts',
         'last_verified_datetime_ts',
         'editors_choice',
         'sponsored',
         'expired',
         'expires_today',
         'exclusive',
         'searchable',
         'hotness',
         'call_out',
         'call_out_comparison',
         'sub_call_out'
    ]
    out_dict = {x : content[x] for x in content_keys_to_keep}
    return(out_dict)

def parse_time_fields(content):
    elements = ['publish_datetime_ts',
         'update_datetime_ts',
         'expiration_datetime_ts',
         'last_verified_datetime_ts']
    out_dict = {}
    for x in elements:
        temp_time = content.get(x) if content.get(x) != None else 0
        out_dict[x] = datetime.datetime.fromtimestamp(temp_time)
    return(out_dict)

def parse_coupon_code(content):
    cc_list = content['coupon_code']
    cc_code = cc_list[0] if len(cc_list) > 0 else None 
    out_dict = {"Coupon Code":cc_code}
    return(out_dict)

def _parse_category(cat_dict):
    keeper_elements = ['category_id', 'name'
                      'path', 'ancestor_list' ]
    cat_elems = {x:cat_dict.get(x) for x in keeper_elements}
    return(cat_elems)

def parse_2_categories(content):
    cat_list = content['categories']
    out_dict = {}
    # Only keep 2 categories 
    if len(cat_list) < 2:
        cat_list.append({})
    for dict_num in range(2):
        temp_cat_elems = _parse_category(cat_list[dict_num])
        temp_cat_elems = {key + '_' +str(dict_num): value 
                          for key, value in temp_cat_elems.items()}
        out_dict.update(temp_cat_elems)
    
    return(out_dict)

def parse_vendor(content):
    vend_dict = content['vendor']
    keeper_elems = ['vendor_id', 'name']
    vend_dict = {x:vend_dict[x] for x in keeper_elems}
    return(vend_dict)

def _create_img_path(content):
    # Create Filename
    headline = content.get('headline')
    id1 = content.get('id')
    file_name = headline + '_' + str(id1) + '.jpg'
    file_name = file_name.replace('/', '')
    # Create Directory structure 
    date = str(datetime.datetime.now().date())
    if 'base_path' not in locals():
        base_path = os.getcwd() + '/Dealnews Images/'
    path = base_path + date + '/'
    os.makedirs(path, exist_ok=True)
    #File Save location 
    save_location = path + file_name
    return(save_location)
    
def parse_image(content):
    image_link = content.get('images').get('XXL').get('url')
    save_path = _create_img_path(content)
    
    urllib.request.urlretrieve(image_link, save_path)
    out_dict = {'Image path': save_path}
    return(out_dict)

In [22]:
def parse_dn_item(content):
    all_details = {}
    
    main_elems = parse_easy_elems(content)
    all_details.update(main_elems)
    
    time_fields = parse_time_fields(content)
    all_details.update(time_fields)
    
    cc_code = parse_coupon_code(content)
    all_details.update(cc_code)
    
    categories = parse_2_categories(content)
    all_details.update(categories)

    vendor = parse_vendor(content)
    all_details.update(vendor)
    
    image_info = parse_image(content)
    all_details.update(image_info)
    
    return(all_details)

In [23]:
elems = parse_dn_item(content1)
elems_series = pd.Series(elems)

In [24]:
page_items = []
for content1 in tqdm(txt['content']):
    elems = parse_dn_item(content1)
    elems_series = pd.Series(elems)
    page_items.append(elems_series)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=70.0), HTML(value='')))

In [25]:
dn_today = pd.concat(page_items, axis =1).T
dn_today

,id,headline,brief_headline,summary,secondary_summary,key_attribute,brief_notes,url,display_date,publish_datetime_ts,update_datetime_ts,expiration_datetime_ts,last_verified_datetime_ts,editors_choice,sponsored,expired,expires_today,exclusive,searchable,hotness,call_out,call_out_comparison,sub_call_out,Coupon Code,category_id_0,namepath_0,ancestor_list_0,category_id_1,namepath_1,ancestor_list_1,vendor_id,name,Image path
0,19313291,Shescolor Yoga Shorts,Shescolor Yoga Shorts for $15,"Apply coupon code ""Shescolor"" for a savings of $7.","<div class=""body-offer body-sustain""> <div class=""snippet summary"" title=""Clip&#x20;the&#x20;on-page&#x20;20&#x25;&#x20;off&#x20;coupon&#x20;and&#x20;apply&#x20;code&#x20;&quot;Shescolor&quot;&#x20;to&#x20;save&#x20;&#x24;7.""> <p>Clip the on-page 20% off coupon and apply code ""Shescolor"" to save...",Amazon,"Free shipping w/ prime. Available in several colors (Blue Ink pictured). Sold by Shescolor via Amazon. <br><b>Features:</b> machine washable, butt and tummy control and ruched texture.",https://www.dealnews.com/Shescolor-Yoga-Shorts-for-15-free-shipping-w-Prime/19313291.html?iref=site-widget,Last verified 54 min ago,2021-06-16 17:02:04,2021-06-16 17:52:27,2021-06-21 06:59:00,2021-06-16 15:40:25,False,False,False,False,False,True,3,$15,$22,free shipping w/ Prime,Shescolor,487,None,202,None,None,None,313,Amazon,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/Shescolor Yoga Shorts_19313291.jpg
1,19308251,3M Headlight Lens Restoration System,3M Headlight Lens Restoration System for $12,That's the lowest price we could find by $14.,"<div class=""snippet summary"" title=""That&#x27;s&#x20;the&#x20;lowest&#x20;price&#x20;we&#x20;could&#x20;find&#x20;by&#x20;&#x24;14.""> <p>That's the lowest price we could find by $14. <a target=""_blank"" href=""https://www.dealnews.com/lw/click.html?20,2,19308251,iref=site-widget"">Buy Now at Amazon...",Amazon,"Free shipping w/ prime. <br><b>Features:</b> includes sanding, finishing, and refining discs, compounding pad, and rubbing compound.",https://www.dealnews.com/3-M-Headlight-Lens-Restoration-System-for-12-free-shipping-w-Prime/19308251.html?iref=site-widget,Last verified 4 hr 7 min ago,2021-06-15 18:49:11,2021-06-16 17:13:55,1970-01-01 00:00:00,2021-06-16 13:48:53,False,False,False,False,False,True,3,$12,,free shipping w/ Prime,None,238,None,None,None,None,None,313,Amazon,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/3M Headlight Lens Restoration System_19308251.jpg
2,19309643,Dress Works Women's Holiday Print Swing Dress,Dress Works Women's Holiday Print Swing Dress for $5,It's $26 under list price.,"<div class=""snippet summary"" title=""It&#x27;s&#x20;&#x24;26&#x20;under&#x20;list&#x20;price.""> <p>It's $26 under list price. <a target=""_blank"" href=""https://www.dealnews.com/lw/click.html?20,2,19309643,iref=site-widget"">Buy Now at Kohl's</a> </p> </div> <div class=""snippet additional-info"" titl...",Kohl's,"Pickup. available in several colors (Fairisle pictured) opt for in-store pickup to avid the $8.95 shipping fee most sizes/styles are $4.50, but some are $6.",https://www.dealnews.com/Dress-Works-Womens-Holiday-Print-Swing-Dress-for-5-pickup/19309643.html?iref=site-widget,Last verified 2 hr 19 min ago,2021-06-16 07:54:53,2021-06-16 17:53:34,1970-01-01 00:00:00,2021-06-16 15:37:15,True,False,False,False,False,True,3,$4.50,$30,pickup,None,490,None,202,None,None,None,1009,Kohl's,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/Dress Works Women's Holiday Print Swing Dress_19309643.jpg
3,19308497,GearWrench 5-Piece Straight Fluted Screw Extractor Set,GearWrench 5-Piece Straight Fluted Screw Extractor Set for $14,That's the best price we could find by $4.,"<div class=""snippet summary"" title=""That&#x27;s&#x20;the&#x20;best&#x20;price&#x20;we&#x20;could&#x20;find&#x20;by&#x20;&#x24;4.""> <p>That's the best price we could find by $4. <a target=""_blank"" href=""https://www.dealnews.com/lw/click.html?20,2,19308497,iref=site-widget"">Buy Now at Amazon</a> <...",Amazon,"Free shipping w/ prime. <br><b>Features:</b> removes broken studs, set screws, pipe, and grease fittings, for use on screw sizes 1/4"", 5/16"", 3/8"", 7/16"", 1/2"", 9/16"", and 5/8"" and made in the USA. Model: 720DD.",https://www.dealnews.com/products/Gear-Wrench/Gear-Wrench-5-Piece-Straight-Fluted-Screw-Extractor-Set/199771.html?iref=site-widget,Last verified 4 hr 19 min ago,2021-06-15 20:07:59,2021-06-16 17:54:07,1970-01-01 00:00:00,2021-06-16 13:37:38,False,False,False,False,False,True,3,$14,$19,free shipping w/ Prime,None,645,None,"196,197",None,None,None,313,Amazon,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/GearWrench 5-Piece Straight Fluted Screw Extractor Set_19308497.jpg
4,19313213,Joe's New Balance Outlet Final Markdowns,"Joe's New Balance Outlet Final Markdowns: Buy 1, get 2nd at 50% off","Save on over 700 discounted shoes and clothing styles for men, women, and kids. Kids' t-shirts start from $10, women's t-shirts from $13, men's shorts from $15, kids' shoes from $17, women's sneakers from $25, and men's sneakers from $30.","<div class=""snippet summary"" title=""Save&#x20;on&#x20;over&#x20;700&#x20;discounted&#x20;shoes&#x20;and&#x20;clothing&#x20;styles&#x20;for&#x20;men,&#x20;women,&#x20;and&#x20;kids.&#x20;Kids&#x27;&#x20;t-shirts&#x20;start&#x20;from&#x20;&#x24;10,&#x20;women&#x27;s&#x20;t-shirts&#x20;from&#x20;&#...",Joe's New Balance Outlet,,https://www.dealnews.com/Joes-New-Balance-Outlet-Final-Markdowns-Buy-1-get-2-nd-at-50-off-free-shipping/19313213.html?iref=site-widget,Last verified 3 hr 6 min ago,2021-06-16 14:49:47,2021-06-16 17:53:03,1970-01-01 00:00:00,2021-06-16 14:49:46,False,False,False,False,False,True,3,"Buy 1, get 2nd at 50% off",,free shipping,None,40,None,None,202,None,None,1807,Joe's New Balance Outlet,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/Joe's New Balance Outlet Final Markdowns_19313213.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,19308305,Furinno LAci 4-Bins System Rack,Furinno LAci 4-Bins System Rack for $18,It's $42 under list price.,"<div class=""snippet summary"" title=""It&#x27;s&#x20;the&#x20;lowest&#x20;price&#x20;we&#x20;could&#x20;find&#x20;by&#x20;&#x24;3.""> <p>It's the lowest price we could find by $3. <a target=""_blank"" href=""https://www.dealnews.com/lw/click.html?20,2,19308305,iref=site-widget"">Buy Now at Amazon</a> <...",Amazon,"Free shipping w/ prime. Available in Oak/Black/Light Brown. <br><b>Features:</b> composite wood, non-woven fabric bins and measures 7.7"" x 11.3"" x 28.8"". Model: 99150.",https://www.dealnews.com/products/Furinno/Furinno-LAci-4-Bins-System-Rack/207311.html?iref=site-widget,Last verified 2 hr 4 min ago,2021-06-15 19:08:39,2021-06-16 17:43:47,1970-01-01 00:00:00,2021-06-16 15:52:08,False,False,False,False,False,True,3,$18,$60,free shipping w/ Prime,None,200,None,196,None,None,None,313,Amazon,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/Furinno LAci 4-Bins System Rack_19308305.jpg
66,19309544,"24"" Foldable Pick-Up and Reach Tool","24"" Foldable Pick-Up and Reach Tool for $6",It's $12 under list price.,"<div class=""snippet summary"" title=""That&#x27;s&#x20;a&#x20;savings&#x20;of&#x20;&#x24;12&#x20;off&#x20;list&#x20;price.""> <p>That's a savings of $12 off list price. <a target=""_blank"" href=""https://www.dealnews.com/lw/click.html?20,2,19309544,iref=site-widget"">Buy Now at That Daily Deal</a> </p...",That Daily Deal,Free shipping.,https://www.dealnews.com/24-Foldable-Pick-Up-and-Reach-Tool-for-6-free-shipping/19309544.html?iref=site-widget,Last verified 5 hr 30 min ago,2021-06-16 07:08:53,2021-06-16 17:53:38,2021-06-17 03:59:00,2021-06-16 12:25:49,False,False,False,True,False,True,3,$6.49,$18,free shipping,None,197,None,196,None,None,None,2155,That Daily Deal,"/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/24"" Foldable Pick-Up and Reach Tool_19309544.jpg"
67,19308458,Runcl Chest Waders with Built-in Boots,Runcl Chest Waders with Built-in Boots from $30,"Apply coupon code ""ZQFDWZOW"" to save.","<div class=""body-offer body-burst""> <div class=""snippet summary"" title=""Apply&#x20;coupon&#x20;code&#x20;&quot;ZQFDWZOW&quot;&#x20;to&#x20;save&#x20;up&#x20;to&#x20;&#x24;26.""> <p>Apply coupon code ""ZQFDWZOW"" to save up to $26. <a target=""_blank"" href=""https://www.dealnews.com/lw/click.html?20,2...",Amazon,"Free shipping. Sold by Runcl via Amazon. Available in Brown in size M5/W7 for $29.99; other sizes vary in pricing with same code. <br><b>Features:</b> watertight, breathable and fitted with high sides & a drawstring top. Model: A1533111-08.",https://www.dealnews.com/products/Private-Label-Brands/Runcl-Chest-Waders-with-Built-in-Boots/219455.html?iref=site-widget,Last verified 1 hr 55 min ago,2021-06-15 20:14:45,2021-06-16 17:13:49,2021-06-20 04:59:00,2021-06-16 16:00:57,False,False,False,False,False,True,3,from $30,,free shipping,ZQFDWZOW,298,None,211,None,None,None,313,Amazon,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/Runcl Chest Waders with Built-in Boots_19308458.jpg
68,19309601,Unlocked Microsoft Surface Duo Dual-SIM 256GB Smartphone,Unlocked Microsoft Surface Duo Dual-SIM 256GB Smartphone for $730,It's $770 under list price.,"<div class=""snippet summary"" title=""That&#x27;s&#x20;the&#x20;best&#x20;price&#x20;we&#x20;could&#x20;find&#x20;by&#x20;&#x24;320.&#x20;Update&#x3A;&#x20;It&#x20;now&#x20;includes&#x20;free&#x20;shipping.""> <p>That's the best price we could find by $320. <BR><BR>Update: It now includes free ship...",B&H Photo Video,"Free shipping. <br><b>Features:</b> Qualcomm Snapdragon855 octa-core processor (1.78 GHz Kryo 485 quad-core; 2.42 GHz Kryo 485 triple-core; and 2.84 GHz Kryo 485 single-core), 8.1"" 2700 x 1800 dual displays, 6GB RAM, 256GB storage and Android 10 OS.",https://www.dealnews.com/Unlocked-Microsoft-Surface-Duo-Dual-SIM-256-GB-Smartphone-for-730-free-shipping/19309601.html?iref=site-widget,Last verified 3 hr 56 min ago,2021-06-16 07:35:00,2021-06-16 17:53:36,2021-06-17 03:59:00,2021-06-16 14:00:39,False,False,False,True,False,True,3,$730,"$1,500",free shipping,None,672,None,"142,171",None,None,None,973,B&H Photo Video,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/Unlocked Microsoft Surface Duo Dual-SIM 256GB Smartphone_19309601.jpg
69,19293998,AT&T TV Streaming w/ No-Annual Contract,AT&T TV Streaming w/ No-Annual Contract,"Stream live and on-demand TV with AT&T TV starting at $69.99/mo. with no annual contract. Plus, get 1 year of HBO Max free on select plans. (High speed internet is required.)","<div class=""snippet summary"" title=""Stream&#x20;live&#x20;and&#x20;on-demand&#x20;TV&#x20;with&#x20;AT&amp;T&#x20;TV&#x20;starting&#x20;at&#x20;&#x24;69.99&#x2F;mo.&#x20;with&#x20;no&#x20;annual&#x20;contract.&#x20;Plus,&#x20;get&#x20;1&#x20;year&#x20;of&#x20;HBO&#x20;Max&#x20;free&#x20;on&#x20;...",AT&T TV,"<br><b>Features:</b> Use your own compatible device or AT&T's exclusive streaming device:<ul><li>App available on Apple TV, Amazon Fire TV Stick, Roku, Chromecast, & more</li><li>AT&T TV Streaming Device available for $5/mo. for 24 months ($120 total)</li></ul>, Plug in and watch with easy self-...",https://www.dealnews.com/AT-T-TV-Streaming-w-No-Annual-Contract-from-70-per-month/19293998.html?iref=site-widget,Last verified 4 days 13 hr ago,2021-06-12 04:00:00,2021-06-13 03:32:59,2022-01-01 04:59:00,2021-06-09 17:45:54,False,True,False,False,False,True,3,from $70 per month,,None,None,440,None,39,500,None,178,49780,AT&T TV,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/AT&T TV Streaming w No-Annual Contract_19293998.jpg

In [26]:
dn_today[['headline', 'brief_headline', 'summary', 'key_attribute'
          , 'call_out', 'call_out_comparison']]

,headline,brief_headline,summary,key_attribute,call_out,call_out_comparison
0,Shescolor Yoga Shorts,Shescolor Yoga Shorts for $15,"Apply coupon code ""Shescolor"" for a savings of $7.",Amazon,$15,$22
1,3M Headlight Lens Restoration System,3M Headlight Lens Restoration System for $12,That's the lowest price we could find by $14.,Amazon,$12,
2,Dress Works Women's Holiday Print Swing Dress,Dress Works Women's Holiday Print Swing Dress for $5,It's $26 under list price.,Kohl's,$4.50,$30
3,GearWrench 5-Piece Straight Fluted Screw Extractor Set,GearWrench 5-Piece Straight Fluted Screw Extractor Set for $14,That's the best price we could find by $4.,Amazon,$14,$19
4,Joe's New Balance Outlet Final Markdowns,"Joe's New Balance Outlet Final Markdowns: Buy 1, get 2nd at 50% off","Save on over 700 discounted shoes and clothing styles for men, women, and kids. Kids' t-shirts start from $10, women's t-shirts from $13, men's shorts from $15, kids' shoes from $17, women's sneakers from $25, and men's sneakers from $30.",Joe's New Balance Outlet,"Buy 1, get 2nd at 50% off",
...,...,...,...,...,...,...
65,Furinno LAci 4-Bins System Rack,Furinno LAci 4-Bins System Rack for $18,It's $42 under list price.,Amazon,$18,$60
66,"24"" Foldable Pick-Up and Reach Tool","24"" Foldable Pick-Up and Reach Tool for $6",It's $12 under list price.,That Daily Deal,$6.49,$18
67,Runcl Chest Waders with Built-in Boots,Runcl Chest Waders with Built-in Boots from $30,"Apply coupon code ""ZQFDWZOW"" to save.",Amazon,from $30,
68,Unlocked Microsoft Surface Duo Dual-SIM 256GB Smartphone,Unlocked Microsoft Surface Duo Dual-SIM 256GB Smartphone for $730,It's $770 under list price.,B&H Photo Video,$730,"$1,500"
69,AT&T TV Streaming w/ No-Annual Contract,AT&T TV Streaming w/ No-Annual Contract,"Stream live and on-demand TV with AT&T TV starting at $69.99/mo. with no annual contract. Plus, get 1 year of HBO Max free on select plans. (High speed internet is required.)",AT&T TV,from $70 per month,

In [27]:
dn_today['key_attribute'].value_counts()

Amazon                      35
Kohl's                       4
Old Navy                     2
Woot! An Amazon Company      2
Uniqlo                       2
Joe's New Balance Outlet     2
Home Depot                   2
Walmart                      1
That Daily Deal              1
Reebok                       1
Costway                      1
FIRM ABS                     1
B&H Photo Video              1
tiktech.com                  1
HP                           1
Kate Spade Surprise Sale     1
Northern Tool                1
Ace Hardware                 1
Proozy                       1
Tory Burch                   1
Humble Bundle                1
Forever 21                   1
Target                       1
AT&T TV                      1
Nordstrom Rack               1
MQ Direct                    1
The Container Store          1
Harman Kardon                1
Name: key_attribute, dtype: int64

In [28]:
time1 = dn_today['publish_datetime_ts'].iloc[0]
time1

Timestamp('2021-06-16 17:02:04')

In [30]:
 datetime.datetime.fromtimestamp(time1)

TypeError: an integer is required (got type Timestamp)

In [31]:
print(dn_today.columns)

Index(['id', 'headline', 'brief_headline', 'summary', 'secondary_summary',
       'key_attribute', 'brief_notes', 'url', 'display_date',
       'publish_datetime_ts', 'update_datetime_ts', 'expiration_datetime_ts',
       'last_verified_datetime_ts', 'editors_choice', 'sponsored', 'expired',
       'expires_today', 'exclusive', 'searchable', 'hotness', 'call_out',
       'call_out_comparison', 'sub_call_out', 'Coupon Code', 'category_id_0',
       'namepath_0', 'ancestor_list_0', 'category_id_1', 'namepath_1',
       'ancestor_list_1', 'vendor_id', 'name', 'Image path'],
      dtype='object')

In [32]:
dn_today.head()

,id,headline,brief_headline,summary,secondary_summary,key_attribute,brief_notes,url,display_date,publish_datetime_ts,update_datetime_ts,expiration_datetime_ts,last_verified_datetime_ts,editors_choice,sponsored,expired,expires_today,exclusive,searchable,hotness,call_out,call_out_comparison,sub_call_out,Coupon Code,category_id_0,namepath_0,ancestor_list_0,category_id_1,namepath_1,ancestor_list_1,vendor_id,name,Image path
0,19313291,Shescolor Yoga Shorts,Shescolor Yoga Shorts for $15,"Apply coupon code ""Shescolor"" for a savings of $7.","<div class=""body-offer body-sustain""> <div class=""snippet summary"" title=""Clip&#x20;the&#x20;on-page&#x20;20&#x25;&#x20;off&#x20;coupon&#x20;and&#x20;apply&#x20;code&#x20;&quot;Shescolor&quot;&#x20;to&#x20;save&#x20;&#x24;7.""> <p>Clip the on-page 20% off coupon and apply code ""Shescolor"" to save...",Amazon,"Free shipping w/ prime. Available in several colors (Blue Ink pictured). Sold by Shescolor via Amazon. <br><b>Features:</b> machine washable, butt and tummy control and ruched texture.",https://www.dealnews.com/Shescolor-Yoga-Shorts-for-15-free-shipping-w-Prime/19313291.html?iref=site-widget,Last verified 54 min ago,2021-06-16 17:02:04,2021-06-16 17:52:27,2021-06-21 06:59:00,2021-06-16 15:40:25,False,False,False,False,False,True,3,$15,$22,free shipping w/ Prime,Shescolor,487,None,202,None,None,None,313,Amazon,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/Shescolor Yoga Shorts_19313291.jpg
1,19308251,3M Headlight Lens Restoration System,3M Headlight Lens Restoration System for $12,That's the lowest price we could find by $14.,"<div class=""snippet summary"" title=""That&#x27;s&#x20;the&#x20;lowest&#x20;price&#x20;we&#x20;could&#x20;find&#x20;by&#x20;&#x24;14.""> <p>That's the lowest price we could find by $14. <a target=""_blank"" href=""https://www.dealnews.com/lw/click.html?20,2,19308251,iref=site-widget"">Buy Now at Amazon...",Amazon,"Free shipping w/ prime. <br><b>Features:</b> includes sanding, finishing, and refining discs, compounding pad, and rubbing compound.",https://www.dealnews.com/3-M-Headlight-Lens-Restoration-System-for-12-free-shipping-w-Prime/19308251.html?iref=site-widget,Last verified 4 hr 7 min ago,2021-06-15 18:49:11,2021-06-16 17:13:55,1970-01-01 00:00:00,2021-06-16 13:48:53,False,False,False,False,False,True,3,$12,,free shipping w/ Prime,None,238,None,None,None,None,None,313,Amazon,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/3M Headlight Lens Restoration System_19308251.jpg
2,19309643,Dress Works Women's Holiday Print Swing Dress,Dress Works Women's Holiday Print Swing Dress for $5,It's $26 under list price.,"<div class=""snippet summary"" title=""It&#x27;s&#x20;&#x24;26&#x20;under&#x20;list&#x20;price.""> <p>It's $26 under list price. <a target=""_blank"" href=""https://www.dealnews.com/lw/click.html?20,2,19309643,iref=site-widget"">Buy Now at Kohl's</a> </p> </div> <div class=""snippet additional-info"" titl...",Kohl's,"Pickup. available in several colors (Fairisle pictured) opt for in-store pickup to avid the $8.95 shipping fee most sizes/styles are $4.50, but some are $6.",https://www.dealnews.com/Dress-Works-Womens-Holiday-Print-Swing-Dress-for-5-pickup/19309643.html?iref=site-widget,Last verified 2 hr 19 min ago,2021-06-16 07:54:53,2021-06-16 17:53:34,1970-01-01 00:00:00,2021-06-16 15:37:15,True,False,False,False,False,True,3,$4.50,$30,pickup,None,490,None,202,None,None,None,1009,Kohl's,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/Dress Works Women's Holiday Print Swing Dress_19309643.jpg
3,19308497,GearWrench 5-Piece Straight Fluted Screw Extractor Set,GearWrench 5-Piece Straight Fluted Screw Extractor Set for $14,That's the best price we could find by $4.,"<div class=""snippet summary"" title=""That&#x27;s&#x20;the&#x20;best&#x20;price&#x20;we&#x20;could&#x20;find&#x20;by&#x20;&#x24;4.""> <p>That's the best price we could find by $4. <a target=""_blank"" href=""https://www.dealnews.com/lw/click.html?20,2,19308497,iref=site-widget"">Buy Now at Amazon</a> <...",Amazon,"Free shipping w/ prime. <br><b>Features:</b> removes broken studs, set screws, pipe, and grease fittings, for use on screw sizes 1/4"", 5/16"", 3/8"", 7/16"", 1/2"", 9/16"", and 5/8"" and made in the USA. Model: 720DD.",https://www.dealnews.com/products/Gear-Wrench/Gear-Wrench-5-Piece-Straight-Fluted-Screw-Extractor-Set/199771.html?iref=site-widget,Last verified 4 hr 19 min ago,2021-06-15 20:07:59,2021-06-16 17:54:07,1970-01-01 00:00:00,2021-06-16 13:37:38,False,False,False,False,False,True,3,$14,$19,free shipping w/ Prime,None,645,None,"196,197",None,None,None,313,Amazon,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/GearWrench 5-Piece Straight Fluted Screw Extractor Set_19308497.jpg
4,19313213,Joe's New Balance Outlet Final Markdowns,"Joe's New Balance Outlet Final Markdowns: Buy 1, get 2nd at 50% off","Save on over 700 discounted shoes and clothing styles for men, women, and kids. Kids' t-shirts start from $10, women's t-shirts from $13, men's shorts from $15, kids' shoes from $17, women's sneakers from $25, and men's sneakers from $30.","<div class=""snippet summary"" title=""Save&#x20;on&#x20;over&#x20;700&#x20;discounted&#x20;shoes&#x20;and&#x20;clothing&#x20;styles&#x20;for&#x20;men,&#x20;women,&#x20;and&#x20;kids.&#x20;Kids&#x27;&#x20;t-shirts&#x20;start&#x20;from&#x20;&#x24;10,&#x20;women&#x27;s&#x20;t-shirts&#x20;from&#x20;&#...",Joe's New Balance Outlet,,https://www.dealnews.com/Joes-New-Balance-Outlet-Final-Markdowns-Buy-1-get-2-nd-at-50-off-free-shipping/19313213.html?iref=site-widget,Last verified 3 hr 6 min ago,2021-06-16 14:49:47,2021-06-16 17:53:03,1970-01-01 00:00:00,2021-06-16 14:49:46,False,False,False,False,False,True,3,"Buy 1, get 2nd at 50% off",,free shipping,None,40,None,None,202,None,None,1807,Joe's New Balance Outlet,/home/malcolm/Demo with APIs/Dealnews Images/2021-06-16/Joe's New Balance Outlet Final Markdowns_19313213.jpg

In [ ]:
time_fields = parse_time_fields(content1)
time_fields

{'publish_datetime_ts': datetime.datetime(2021, 6, 12, 4, 0),
 'update_datetime_ts': datetime.datetime(2021, 6, 13, 3, 32, 59),
 'expiration_datetime_ts': datetime.datetime(2022, 1, 1, 4, 59),
 'last_verified_datetime_ts': datetime.datetime(2021, 6, 9, 17, 45, 54)}

## Also the RSS Feed

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
link = 'https://www.dealnews.com/rss/todays-edition'

In [ ]:
page = requests.get(link)
page.status_code

In [ ]:
rss_feed = BeautifulSoup(page.content, features='xml')
rss_feed

In [ ]:
items = rss_feed.find_all('item')
len(items)

In [ ]:
temp = items[0]
temp

In [ ]:
temp.find('title').text

In [ ]:
def parse_rss_item(rss_item):
    keeper_elems = ['title', 'link', 'description', 'pubDate']
    out_dict = {x : rss_item.find(x).text for x in keeper_elems}
    out = pd.Series(out_dict)
    return(out)

In [ ]:
all_items = [parse_rss_item(x) for x in items]

In [ ]:
all_items_df = pd.concat(all_items, axis =1).T
all_items_df.head()

## Third way would be to build request site and scrape from there